body{
	color:#0080FF;
	background-color: #000000;
	background-image:url('./Assets/bgpic.jpg');
	background-position:left 0px bottom -60px;
    background-repeat:no-repeat;
}

.experience
{
	border : none;
}

.experience td
{
	width : 150px;
}

#about {
	height: 580px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #000000;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size:17px;
	letter-spacing : 3px;
}

.title{
	font-family: 'Press Start 2P', cursive;
}

.jumbotron {
	background-color: #444444;
	text-shadow: 5px 5px white;
}

#namebar > h1{
	font-family: 'Permanent Marker', cursive;
}
	
#header a, #headbar a{
	color: #00FFFF;
}

#header a:hover, #headbar a:hover{
	color: white;
}

footer {
	background-color: #f2f2f2;
}

#headbar > .active > a{
	background-color: grey;
}

.media-body{
	vertical-align : middle;
}

.game-info > div > p{
	color: white;
}

.front-page{
	height : 500px;
	align-items: center;
	justify-content: center;
	font-family: 'Gloria Hallelujah', cursive;
}

hr{
	height:2px;
	color:#00FFFF;
	background-color:#00FFFF;
	border:none
}